<account-container>
  <h1 class="ui header">Account Info</h1>
  <div class="ui pointing menu">
    <a class="{ 'active': accountContainer.isProfileTabActive, 'item': true }" href="profile">
      Profile
    </a>
    <a class="{ 'active': accountContainer.isBillingTabActive, 'item': true }" href="billing">
      Billing
    </a>
    <a class="{ 'active': accountContainer.isOrganizationTabActive, 'item': true }" href="organization">
      Organization
    </a>
  </div>

  <yield/>
  <script>
    var accountContainer = this.accountContainer = app.resolve('AccountContainer');
    this.on('mount', function () {
      accountContainer.onMount(this);
    });
  </script>
</account-container>