<plans>
  <table class="ui very basic celled striped table">
    <tbody>
    <tr>
      <td class="ui center aligned four wide" if="{ plans.isBasicVisible }">
        <h1 class="ui header">Basic</h1>

        <h2 class="ui teal header">49.99</h2>

        <p>/per month</p>
      </td>
      <td class="ui center aligned four wide" if="{ plans.isProVisible }">
        <h1 class="ui header">Pro</h1>

        <h2 class="ui teal header">99.99</h2>

        <p>/per month</p>
      </td>
      <td class="ui center aligned four wide" if="{ plans.isPremiumVisible }">
        <h1 class="ui header">Premium</h1>

        <h2 class="ui teal header">149.99</h2>

        <p>/per month</p>
      </td>
    </tr>
    <tr>
      <td if="{ plans.isBasicVisible }">
        <i class="circular checkmark teal inverted icon"></i>
      </td>
      <td if="{ plans.isProVisible }">
        <i class="circular remove grey inverted icon"></i>
      </td>
      <td if="{ plans.isPremiumVisible }">Cell</td>
    </tr>
    <tr>
      <td if="{ plans.isBasicVisible }">Cell</td>
      <td if="{ plans.isProVisible }">Cell</td>
      <td if="{ plans.isPremiumVisible }">Cell</td>
    </tr>
    <tr>
      <td if="{ plans.isBasicVisible }">Cell</td>
      <td if="{ plans.isProVisible }">Cell</td>
      <td if="{ plans.isPremiumVisible }">Cell</td>
    </tr>
    </tbody>
    <tfoot>
    <tr if="{ !plans.isReadOnly }">
      <td class="ui center aligned" if="{ plans.isBasicVisible }">
        <button class="ui teal button" onclick="{ plans.subscribe }" data-plan="basic">
          <i class="add to cart icon"></i>
          Select
        </button>
      </td>
      <td class="ui center aligned" if="{ plans.isProVisible }">
        <button class="ui teal button" onclick="{ plans.subscribe }" data-plan="pro">
          <i class="add to cart icon"></i>
          Select
        </button>
      </td>
      <td class="ui center aligned" if="{ plans.isPremiumVisible }">
        <button class="ui teal button" onclick="{ plans.subscribe }" data-plan="premium">
          <i class="add to cart icon"></i>
          Select
        </button>
      </td>
    </tr>
    </tfoot>
  </table>
  <script>
    this.plans = app.resolve('Plans').wire(this);
  </script>
</plans>