<billing>
    <container>
        <settings-container>
            <div>
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="row">
                            <div class="five wide column">
                                <h3 class="ui header">Your plan</h3>
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" name="toggle" onchange="{ billing.toggle }"
                                           checked="{ billing.editing }">
                                    <label if="{ !billing.editing }">Toggle to change</label>
                                    <label if="{ billing.editing }">Toggle to cancel</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="five wide column">
                                <form id="paymentInfo" class="ui form" novalidate="novalidate" role="form"
                                      onsubmit="{ billing.onSubmit }">
                                    <div class="field">
                                        <label>Plan</label>
                                        <select name="plan" show="{ui: billing.editing }">
                                            <option value="basic">Basic - 99.99 / month</option>
                                            <option value="pro">Pro - 199.99 / month</option>
                                            <option value="premium">Premium - 299.99 / month</option>
                                        </select>
                                        <span show="{ !billing.editing && billing.profile.plan == 'basic' }">Basic - 99.99 / month</span>
                                        <span show="{ !billing.editing && billing.profile.plan == 'pro' }">Pro - 199.99 / month</span>
                                        <span show="{ !billing.editing && billing.profile.plan == 'premium' }">Premium - 299.99 / month</span>
                                    </div>
                                    <div class="field">
                                        <label>Card Number</label>
                                        <div class="{ui: true, transparent: !billing.editing, input: true}">
                                            <input name="number" type="tel"
                                                   placeholder="•••• •••• •••• ••••" autocomplete="off"
                                                   value="{ billing.formattedCardNumber }"/>
                                        </div>
                                    </div>
                                    <div class="field" show="{ billing.editing }">
                                        <label>CVC</label>
                                        <div class="ui input">
                                            <input name="cvc" type="text" placeholder="n/a" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="field" show="{ billing.editing }">
                                        <label>Expiration (MM/YYYY)</label>
                                        <div class="ui input">
                                            <input name="expiration" type="text" placeholder="n/a" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="ui fluid large teal submit button" show="{ billing.editing }" disabled="{ billing.submitting }">Save</div>
                                    <div class="ui error message" show="{ billing.editing }"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </settings-container>
    </container>
    <script>
        this.billing = (this.tags.container.tags['settings-container'].billing = opts).wire(this);
    </script>
</billing>