<billing>
  <container>
    <settings-container>
      <div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="{ five: billing.profile.plan && !billing.isEditingPlan, wide: billing.profile.plan && !billing.isEditingPlan, column: true }">
              <h3 class="ui header">Manage your plan</h3>
              <div class="ui toggle checkbox" if="{ billing.profile.plan }">
                <input type="checkbox" name="toggle" onchange="{ billing.toggle }" checked="{ billing.isEditingPlan }">
                <label if="{ !billing.isEditingPlan }">Toggle to change</label>
                <label if="{ billing.isEditingPlan }">Toggle to cancel</label>
              </div>
              <plans if="{ billing.profile }"></plans>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="five wide column">
              <h3 class="ui header">Manage your payment methods </h3>
              <form action="" method="POST" id="payment-form" class="ui form" novalidate="novalidate" role="form">
                <div class="field">
                  <label>Card Number</label>

                  <div class="{ui: true, transparent: false, input: true}">
                    <input type="tel" class="card-number" size="20" placeholder="•••• •••• •••• ••••" pattern="\d*"/>
                  </div>
                </div>
                <div class="field">
                  <label>CVC</label>

                  <div class="{ui: true, transparent: false, input: true}">
                    <input type="text" class="card-cvc" size="4" data-stripe="cvc"/>
                  </div>
                </div>
                <div class="field">
                  <label>Expiration (MM/YYYY)</label>

                  <div class="{ui: true, transparent: false, input: true}">
                    <input type="text" class="card-exp" size="4" data-stripe="exp-year"/>
                  </div>
                </div>
                <button type="submit" class="ui fluid large teal submit button">Add Card</button>
                <div class="ui error message"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </settings-container>
  </container>
  <script>
    this.billing = (this.tags.container.tags['settings-container'].billing = opts).wire(this);
  </script>
</billing>