<profile>
  <container>
    <settings-container>

      <div class="ui segment">

        <div class="ui grid">
          <div class="five wide column">
            <h3 class="ui header">Manage your profile</h3>
            <form class="ui form" novalidate="novalidate" role="form" onsubmit="{ profile.submit }">
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="toggle" onchange="{ profile.toggle }" checked="{ profile.editing }">
                  <label if="{ !profile.editing }">Toggle to edit</label>
                  <label if="{ profile.editing }">Toggle to cancel</label>
                </div>
              </div>
              <div class="field">
                <label>Email</label>
                <div class="{ui: true, transparent: !profile.editing, input: true}">
                  <input type="text" placeholder="n/a" value="{ profile.profile.email }">
                </div>
              </div>
              <div class="field">
                <label>First Name</label>
                <div class="{ui: true, transparent: !profile.editing, input: true}">
                  <input type="text" placeholder="n/a" value="{ profile.profile.first }">
                </div>
              </div>
              <div class="field">
                <label>Last Name</label>
                <div class="{ui: true, transparent: !profile.editing, input: true}">
                  <input type="text" placeholder="n/a" value="{ profile.profile.last }">
                </div>
              </div>
              <div class="ui fluid large teal submit button" if="{ profile.editing }">Save</div>
              <div class="ui error message"></div>
            </form>
          </div>
        </div>

      </div>
      <div class="ui segment">
        <h3 class="ui header">Deactivate your account</h3>
        <p>This will delete all of your data</p>
        <button class="ui red basic button">Deactivate</button>
      </div>
    </settings-container>
  </container>
  <script>
    this.profile = (this.tags.container.tags['settings-container'].profile = opts).wire(this);
  </script>
</profile>