<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Starter app</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <base href="/app/"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/css/application.css"/>
</head>

<body>
<div class="ui container">
  <div id="viewport"></div>
</div>
<!--SCRIPTS-->
<script src="/js/libs/riot.js"></script>
<script src="/js/libs/compiler.js"></script>
<script src="/js/libs/page.js"></script>
<script src="/js/libs/jquery-2.1.4.min.js"></script>
<script src="/js/libs/plugins/jquery.cookie-1.4.1.js"></script>
<script src="/js/libs/plugins/validator-0.9.0.js"></script>
<script src="/js/libs/semantic.js"></script>
<script src="/js/support/Class.js"></script>
<script src="/js/support/Module.js"></script>
<script src="/js/App.js"></script>
<script src="/js/support/Account.js"></script>
<script src="/js/support/ComponentLoader.js"></script>
<script src="/js/support/ErrorHandler.js"></script>
<script src="/js/support/Http.js"></script>
<script src="/js/support/Router.js"></script>
<script src="/js/components/account/login/Login.js"></script>
<script src="/js/components/account/recoverPassword/RecoverPassword.js"></script>
<script src="/js/components/account/registration/Registration.js"></script>
<script src="/js/components/account/resetPassword/ResetPassword.js"></script>
<script src="/js/components/confirmation/error/Error.js"></script>
<script src="/js/components/confirmation/success/Success.js"></script>
<script src="/js/components/container/Container.js"></script>
<script src="/js/components/home/Home.js"></script>
<!--SCRIPTS END-->
<script th:text="'var authenticated = ' + ${#httpServletRequest .getUserPrincipal() != null} + ';'">
</script>
<script>
  $(document).ready(function () {
    app.run(authenticated);
  });
</script>
</body>
</html>

