<login>
  <container>
    <style type="text/css">
      body > .grid {
        height: 100%;
      }

      .column {
        max-width: 450px;
      }
    </style>
    <div class="ui aligned center aligned grid" id="login">
      <div class="column">
        <div class="ui success message" if="{ login.message.displayPasswordResetSuccess }">
          <div class="header">
            Your password has been reset.
          </div>
        </div>
        <h2 class="ui teal image header">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form class="ui large form" novalidate="novalidate" role="form" onsubmit="{ login.submit }">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="email" placeholder="Email address">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <div class="ui right">
                <a href="recover-password">Forgot password?</a>
              </div>
            </div>
            <div class="ui fluid large teal submit button">Login</div>
          </div>

          <div class="ui error message"></div>

        </form>
        <div class="ui message">
          New to us? &nbsp;<a href="register">Create Account</a>
        </div>
      </div>
    </div>
  </container>
  <script>
    this.login = (this.tags.container.login = opts).wire(this);
  </script>
</login>